<form (ngSubmit)="updateBookmark(bmForm)" #bmForm="ngForm" novalidate>
    <div class="form-group">
        <div for="bm-form-title">Title</div>
        <input type="text" name="title" class="form-control" id="bm-form-title" [(ngModel)]="editedBookmark.title"
            required ngControl="title" #title="ngForm" [class.is-valid]="title.dirty && title.valid"
            [class.is-invalid]="(title.dirty && !title.valid) || (submitted && !title.valid)">
        <div [hidden]="title.valid || (title.pristine && !submitted)" class="invalid-feedback">Please enter a title
        </div>
    </div>
    <div class="form-group">
        <div for="bm-form-description">Description</div>
        <textarea name="description" class="form-control" id="bm-form-description"
            [(ngModel)]="editedBookmark.description" #description="ngForm" required ngControl="description"
            [class.is-valid]="description.dirty && description.valid"
            [class.is-invalid]="(description.dirty && !description.valid) || (submitted && !description.valid)"></textarea>
        <div [hidden]="description.valid || (description.pristine && !submitted)" class="invalid-feedback">Please enter
            a description</div>
    </div>
    <div class="form-group">
        <div for="bm-form-url">Url</div>
        <input type="url" name="url" class="form-control" id="bm-form-url" [(ngModel)]="editedBookmark.url" #url="ngForm" required
            ngControl="url" [class.is-valid]="url.dirty && url.valid"
            [class.is-invalid]="(url.dirty && !url.valid) || (submitted && !url.valid)">
            <div class="invalid-feedback" [hidden]="url.valid || (url.pristine && !submitted)">Please enter url</div>
    </div>
    <button class="btn btn-success" type="button" *ngIf="!bookmark.isFresh">Update</button>
    <button class="btn btn-success" *ngIf="bookmark.isFresh">Save</button>
    <button class="btn btn-warning" *ngIf="bookmark.id != null" (click)="bookmark.edit = false">Cancel</button>
    <button class="btn btn-danger" type="button" (click)="removeBookmark()">Delete</button>
</form>