<div class="navbar navbar-expand-lg navbar-light bg-dark mb-3">
    <a href="#" class="navbar-brand text-white">Boomark Manager</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12" *ngIf="bookmarks.isEmpty ">
            <div class="alert text-center">
                <template [ngIf]="!isLoading">
                    No bookmark added.
                </template>
                <template [ngIf]="isLoading">
                    Loading bookmarks in database.
                </template>
            </div>
        </div>
        <div class="col-md-4 mb-3" *ngFor="let bookmark of bookmarks; let $i=index">
            <div class="card">
                <div class="card-body" *ngIf="!bookmark.edit">
                    <h5 class="card-title">{{bookmark.title}}</h5>
                    <p class="card-text">{{bookmark.description}}</p>
                    <a [href]="bookmark.url" class="btn btn-primary">Go to website</a>
                    <button class="btn btn-danger" (click)="removeBookmark($i)">Delete</button>
                    <button class="btn btn-warning" (click)="editBookmark($i)">Edit</button>
                </div>
                <div class="card-body" *ngIf="bookmark.edit">
                    <bm-form [bookmark]="bookmark" (onDelete)="removeBookmark($i)" (onUpdate)="updateBookmark($i)"></bm-form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-block btn-lg btn-outline-success btn-dark text-white" (click)="addBookmark()">Add
                Bookmark</button>
        </div>
    </div>
</div>